.board {
  width: 235px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #e3e4e8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 / 10;
  transition: transform 0.15s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.35);

  .input {
    width: 200px;
    font-size: 13px;
    color: #fff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  span {
    font-size: 13px;
    color: #fff;
    overflow-wrap: break-word;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 235px;
  height: 115px;
}
