.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 12px 12px 0;
  border: 0px solid transparent;
  border-top-width: 6px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.draggable {
  position: relative;
  width: 272px;
  height: 100%;
  user-select: none;
  flex-shrink: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input {
  width: 230px;
  font-size: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: -4px;
  margin-bottom: 12px;
  max-height: 663px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: -12px;
  padding-right: 12px;

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #c7c7c7;
  }
}

.offset {
  margin-top: 4px;
}

@media (max-width: 768px) {
  .cards {
    max-height: 328px;
  }
}