.adding {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 4px 0;
  font-size: 14px;
  color: #667085;

  i {
    font-size: 18px;
  }

  &:hover {
    color: darken(#667085, 20%);
  }
}

.textarea {
  width: 100%;
  min-height: 64px;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}
