.logo {
  width: 130px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #fff;
  }
}

.badge {
  position: absolute;
  top: 7px;
  right: 4px;
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
  transform: rotate(24deg);
}
